HTML, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

i {
  font-size: 1.5rem;
}

html {
  font-family: 'Ubuntu Mono', monospace;
}

body {
  background: rgb(148, 187, 233);
  background: linear-gradient(0deg, rgba(148, 187, 233, 1) 0%, rgba(237, 200, 216, 1) 100%);
  padding-top: 2rem;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


button {
  background-color: rgba(237, 200, 216, 1);
  border-style: dashed;
  font-size: 2rem;
  width: 250px;
}

table {
  margin: 0 auto 0 auto;
  border: 2px dashed;
  width: 100%;
  table-layout: fixed;
}

td {
  padding: 1rem;
  border-bottom: 2px;
  border-bottom-style: dashed;
}

.name {
  width: 250px;
}

th {
  font-size: 1.2rem;
  padding: 1rem;
  border-bottom: 2px;
  border-bottom-style: dashed;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
}

.fa-solid {
  color: white;
}

.dateButton {
  background-color: red;
  padding: 10px;
  margin: 20px 0;
  border: dashed 3px;
}

input:checked~.dateButton {
  background-color: green;
}

input {
  margin: 20px 0;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 0;
  height: 50px;
  font-size: 1.2rem;
}

label {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
}

.invisibleCheckbox {
  display: None;
}

.top-buffer {
  margin-top: 20px;
}
